/* Pages -> Home Styles */

.welcomeSection {
    padding: 3em 0;
    p {
        color: #484848;
        margin: 0.3em 0;
        line-height: 1.7em;
    }
    .title {
        color: red
    }
}

.Output {
    padding-top: 2em;
    h2 {
        text-align: center;
    }
}
